.bar {
	background-color: #a6acb5;
	font-size: 48px;
	font-color: #1c1d1e;
	margin: 0px 0px 0px 0px;

}

.bar-title {
	font-style: bold;
}

.bar-item {
	font-size: 36px;
}

.page-content {
	margin: 100px 75px 75px 100px;
	padding: 30px 30px 30px 30px;
	color: blue;
}

.page-content.content-photo {
	height: 200px;
	width: 300px;
}