.bar {
	background-color: grey;
	font-size: 96px;
	color: black;
	border: solid;
}

.bar-title {
	font-style: bold;
}

.bar-item {
	font-size: 80px;
}

.page-content {
	margin: 0px 75px 75px 0px;
	padding: 30px 30px 30px 30px;
}